{% extends "app_for_bimamitra/base.html" %}
{% load static %}

{% block secondary_title %} About {% endblock %}

{% block content %}
    <div class="first-container text-center" style="padding:40px;">
        <div class="container mt-5">
            <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded text-center">
            <h2 class="header">About BimaMitra</h2>
        </div>

        <div class="mb-4">
            <section id="our-story">
                <h3>Our Story</h3>
                <p>In the vibrant year of 2023, Bima Mitra was born—a startup with a zest for innovation and a pledge to demystify insurance. We've taken our first steps towards an audacious goal: to revolutionize the insurance sector. By infusing value into the workflows of insurers, agents, brokers, and the extensive network of industry players, Bima Mitra is on a journey to ascend as the torchbearer of insurance technology worldwide.</p>
            </section>
        </div>

        <div class="mb-4">
            <section id="our-ethos">
                <h3>Our Ethos</h3>
                <p>"Digital Insurance is Connected Insurance." This is our credo. We're not just participating in the market; we're on a mission to embed insurance into the very essence of business and impact daily life. Bima Mitra is committed to leading the charge in fostering a globally connected insurance experience.</p>
            </section>
        </div>

        <div class="mb-4">
            <section id="our-vanguard">
                <h3>Our Vanguard</h3>
                <p>At the helm of this avant-garde endeavor are our founders, Bhanudas Rawade and Ankit Baliyan—visionaries who envisage a world where insurance is no longer a maze but a clear path to peace of mind. They lead Bima Mitra with the promise of innovation, integrity, and an unwavering focus on the future. Join us as we embark on this transformative odyssey.</p>
            </section>
        </div>

        <div class="text-center">
            <p>Welcome to Bima Mitra: the nexus where simplicity and technology meet to create a seamless insurance journey for all.</p>
        </div>
    </div>
    </div>
{% endblock %}