{% extends "app_for_bimamitra/base.html" %}
{% load static %}

{% block secondary_title %} Application {% endblock %}

{% block content%}



<head>
    <!-- ... (head content) ... -->
</head>
    
    <body>
        <div class="first-container mt-4 text-center">
            <div class="container-fluid mt-5 text-center" >
                <div class="row-12">
                <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded p-3 mb-2 bg-light">
                    <div class="header"> Welcome to the BimaMitra WebApp.</h5>
                        
                </div>
            </div>

            <div class="centered-container centered-container-content" >
                <div class="center-box">
                    <div class="image-box">
                        <img src="{% static 'images/logo/title.jpeg' %}" alt="Image" class="box-image">
                    </div>
                </div>
                    
                <div class="form-container mt-5">
                    <form method="post" name="enq", id="chat-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="qform-group col-5 text-center">
                                <input required="required" placeholder="Enter your query here.." id="user_query" class="form-control" name="user_input" type="text">
                            </div>
                            <div class="col-lg-12 mt-4">
                                <button type="submit" title="Submit Your Message!" class="btn btn-success" id="submitButton" name="submit" value="Submit">Get Response</button>
                            </div>
                            <div class="qcol-lg-12 text-center">
                                <div id="alert-msg" class="alert-msg text-center"></div>
                            </div>
                        </div>
                    </form>		
                </div>

                <div class="disclaimer">
                    <p>
                        * This website is for informational purposes only. 
                    </p>
                </div>
                

                    
            </div>

            {% if response %}
                <div class="container-response">
                    <div id="response" class="response-container">
                        <p><strong>BimaMitra says:</strong> {{ response | safe }}</p>
                        
                    </div>
                </div>
            {% endif %}


            {% if chat_history %}
                <div class="container-history">
                    {% for message in chat_history %}
                    {% if 'BimaBot' in message %}
                    <div class="bot-message">
                        <p>
                            <img src="{% static 'images/logo/icon.png' %}" alt="Logo" width="30">
                            {{ message.BimaBot | safe }} 
                        </p>

                    </div>
                    {% endif %}
                    {% if 'You' in message %}
                    <div class="user-message">
                        <p><strong>You:</strong> {{ message.You }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        
        </div>
    </body>
    

{%endblock%}


<!-- creating chat history view ====== left right alternate message
                <div class="main-container border border-black" style="width: auto; padding: 15px;">
                    <h2>Chat History</h2>
                    {% for message in chat_history %}
                        <div class="container border border-white" style = " width: 80%; margin-bottom: 5px;">

                            {% if 'BimaBot' in message %}
                                <div class="container border border-white text-left bg-light p-1">
                                    <div class="d-inline-block border border-dark rounded p-1">
                                        <p><strong>BimaBot:</strong> {{ message.BimaBot }}</p>
                                        
                                    </div>
                                </div>
                            {% endif %}
                            
                            {% if 'You' in message %}
                                <div class="container border border-white text-left bg-light p-2">
                                    <p><strong>You:</strong> {{ message.You }}</p>
                                    
                                </div>
                            {% endif %}
                        </div>
                        </div>
                    {% endfor %}
                    
                    -->

                    <!-- message in just one below another -->
        {% if chat_history %}
        <div class="container-history">
            <h4></h4>
            {% for message in chat_history %}
                {% if 'BimaBot' in message %}
                    <div class="bot-container">
                        <div class="text-left bg-light p-1">
                            <div class="d-inline-block border border-dark rounded p-1">
                                <p><strong>BimaBot:</strong> {{ message.BimaBot }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
        
                {% if 'You' in message %}
                    <div class="user-container">
                        <div class="text-left bg-light p-2">
                            <p><strong>You:</strong> {{ message.You }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}